- if true
  .background-black-semi-transparent.text-white{ style: "position: fixed; top: 0; right: 0; left; 0;z-index: 1030;width: 100%;"}
    Landings:
    = link_to "1", landing_path, class: "small-caps #{"text-white" if current_page?(landing_path)}"
    - (2..6).each do |number|
      = link_to number, landing_page_path(page: number), class: "small-caps #{"text-white" if current_page?(landing_page_path(page: number))}"
    %small.text-muted
      = link_to text, "#landing", data: { object: "scroll-anchor" }, class: "text-white"

  #landing
