- @title = "Contact"

= render "layouts/menu2"

.page-box.last-box.d-flex.align-items-center.brand
  .container
    %h1CONTACT

    = form_with url: submit_contact_path, method: :post, local: true, class: "form-horizontal" do |form|
      .form-group
        = text_field_tag :name, params[:name], class: "form-control", placeholder: "Name"

      .form-group
        = email_field_tag :email, params[:email], class: "form-control", placeholder: "Email"

      .form-group
        = text_area_tag :body, params[:body], class: "form-control", placeholder: "Message", rows: 10

      - if params[:action] == "submit_contact" && (params[:name].blank? || params[:email].blank? || params[:body].blank?)
        .form-group
          .alert.alert-danger
            %button.close{ type: "button", data: { dismiss: "alert" }, aria: { label: "Close" } }
              %span{ aria: { hidden: "true" } } &times;
            Please fill in all fields.

      .form-group
        %button.btn.btn-primary.small-caps{ type: "submit" } Send Message
        %span.small-caps or give us a call at 617-262-1400.
