= render "external/landing_menu", text: "Just flag and opening paragraph."

.page-box.last-box.d-flex.flex-column.justify-content-around.text-center.overflow-hidden
  .container
    .mb-3
      = link_to "#work", data: { object: "scroll-anchor" } do
        = image_tag "conductor-productions-logo.png", size: "128x128", style: "border: 1px solid #000;border-radius: .25rem;"
    .small-caps.mb-5
      = link_to "#work", data: { object: "scroll-anchor" }, class: "link-unstyled" do
        Creative that Performs

    .mb-5
      Conductor. Performance Driven Content for Broadcast and Digital Channels
    %div
      = link_to "(Here we go!)", "#work", data: { object: "scroll-anchor" }

    = link_to "#work", data: { object: "scroll-anchor" }, class: "scroll-down-arrow link-unstyled" do
      %i.fa.fa-chevron-down

#work
- @menu_invisible = true
-# @menu_transparent = false
= render "layouts/menu2"

= render "external/work_grid"
