%video.video-full-page-16x9{ autoplay: "true", loop: "false", muted: "true", plays_inline: "true" }
  %source{ src: "https://player.vimeo.com/external/239169746.hd.mp4?s=2ce411d31754af0c66b9543f0560190b8333b796&profile_id=174", type: "video/mp4" }

.page-box.overflow-hidden.d-flex.flex-column.justify-content-around.text-center.background-white-animated
  .container
    = link_to "#curtain", data: { object: "scroll-anchor" } do
      = image_tag "conductor-productions-logo.png", class: "landing-flag landing-flag-circle"
    .landing-tagline
      = link_to "#curtain", data: { object: "scroll-anchor" }, class: "link-unstyled", style: "position: relative;" do
        - if true
          CONDUCTOR PRODUCTIONS
        - else
          .revolve-a
            CREATIVE THAT PERFORMS
          .revolve-b
            CONDUCTOR PRODUCTIONS

    = link_to "#curtain", data: { object: "scroll-anchor" }, class: "scroll-down-arrow link-unstyled" do
      %i.fa.fa-chevron-down

- @menu_invisible = false
- @menu_transparent = true
- @menu_invisible_offset = true
= render "layouts/menu2"

#curtain
.page-box.overflow-hidden
  .container
    = link_to "#videos", data: { object: "scroll-anchor" }, class: "scroll-down-arrow-visible link-unstyled" do
      %i.fa.fa-chevron-down.text-white


%div{ style: "position: relative;" }
  #videos{ style: "position: absolute; top: -102px;" }

= render "external/work_grid"
