- @title = @member.name

- content_for :body_class do
  black-bg no-footer

- vimeo_url = "//player.vimeo.com/video/"
- common_settings = "?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"

- videos = @member.videos.order(:position).limit(4)
- first_video_link = "#{vimeo_url}#{videos.first.vimeo_number}?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;color=ffffff" if videos.present?

.director-box
  .container
    .director-backdrop
      .director-grey-backdrop.hidden-xs
      .director-black-clip.hidden-xs

      .director-content{ style: "padding-top: 0" }
        %h1.center.director-name{ style: "padding-bottom: 20px;" }
          %span{ style: "font-weight: 200;letter-spacing: 5px;" }= @member.name.upcase
          &nbsp;
          %span{ style: "font-weight: bolder;letter-spacing: 5px;" }= @member.title.upcase

        #director-video-frame
          .embed-responsive.embed-responsive-16by9
            %iframe{ src: first_video_link, webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }

        %div{ style: "position:relative;padding-top:20px;padding-bottom:20px" }
          .row
            - videos.each_with_index do |video, i|
              - image_thumbnail = download_video_image_path(video, size: "preview")
              - video_link = "#{vimeo_url}#{video.vimeo_number}#{common_settings}"
              .col-xs-6.col-sm-3{ class: "#{'hidden-xs' if i == videos.count - 1 and (i % 2) == 0}", style: "padding-bottom:20px" }
                .video-thumbnail{ data: { object: "launch-director-video", video_src: video_link } }
                  .video-caption
                    .inner
                      - if video.client_name.blank? && video.agency_name.blank?
                        %span.icon
                          %i.fa.fa-play
                      - else
                        - if video.client_name.present?
                          %span.client-name= video.client_name
                        - if video.agency_name.present?
                          %span.agency-name
                            Agency:
                            = video.agency_name
                  = image_tag image_thumbnail, style: "width: 100%;", class: "video-thumbnail", data: { object: "launch-video", video_src: video_link }, alt: ""

/ .director-divide{ style: "height: 2px; background-color: #333;" }

- if @member.biography.present?
  .director-box
    .container
      .director-backdrop
        .director-grey-backdrop
        .director-black-clip

        .director-content
          .row
            .col-sm-7{ style: "text-align: justify;" }
              = simple_format @member.biography
            .col-sm-5.hidden-xs
              - if @member.photo.size > 0
                .director-img-container
                  .director-img-backdrop
                  = image_tag photo_member_path(@member), class: "director-img"
          .row
            %h3.center{ style: "padding-bottom: 10px;" }
              %span{ style: "font-weight: 200;letter-spacing: 5px;" }= @member.name.upcase
              &nbsp;
              |
              &nbsp;
              %span{ style: "font-weight: bolder;letter-spacing: 5px;" }= @member.title.upcase
