- @title = @user.name

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("internal/sidebar")

- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_header", edit_url: edit_user_path(@user), delete_url: @user, delete_confirmation: "Delete #{@user.name}?"
  = @title

.dashboard-container
  %dl.dl-horizontal
    %dt
      %strong Name
    %dd
      = @user.name

    %dt
      %strong Email
    %dd
      = @user.email

    %dt
      %strong System Admin
    %dd
      = simple_check @user.system_admin?

