%h1 Videos

= link_to 'New Video', new_video_path, class: 'btn btn-xs btn-default'

%table.table.table-striped
  %thead
    %tr
      %th Page
      %th Position
      %th Vimeo Number
      %th Image
      %th Archived

  %tbody
    - @videos.each do |video|
      %tr
        %td= video.page_string
        %td= video.position
        %td= link_to video.vimeo_number, video
        %td= image_tag download_video_image_path(video, size: 'thumb'), class: 'img-responsive', style: 'display:inline-block'
        %td= video.archived
