%h1
  = link_to 'Videos', videos_path
  |
  = @video.vimeo_number

= link_to 'Delete Video', @video, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger pull-right'
= link_to 'Edit Video', edit_video_path(@video), class: 'btn btn-xs btn-default'

%dl.dl-horizontal
  %dt
    %strong Video Page
  %dd
    = @video.page_string

  %dt
    %strong Vimeo Number
  %dd
    = @video.vimeo_number

  %dt
    %strong Position
  %dd
    = @video.position

  %dt
    %strong Archived
  %dd
    = @video.archived

  %dt
    %strong Creator
  %dd
    = @video.user.name if @video.user


- if @video.photo.size > 0
  .center{ style: 'width:100%' }
    = image_tag download_video_image_path(@video, size: 'preview'), class: 'img-responsive', style: 'display:inline-block'
