- vimeo_url = "//player.vimeo.com/video/"
- common_settings = "?api=1&title=0&byline=0&portrait=0&color=ffffff&autoplay=1"

- home_page_videos = [{ id: '111656554' }, { id: '124955435' }, { id: '124955438' }, { id: '98734404' }, { id: '105791712' }]

#home-iframe.embed-responsive.embed-responsive-16by9
  %iframe{ src: '', webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }


#carousel-videos.carousel
  %ol.carousel-indicators
    - home_page_videos.each_with_index do |video, index|
      %li{ class: "#{'active' if index == 0}", data: { target: "#carousel-videos", slide: { to: index } } }
  .carousel-inner{ role: "listbox" }
    - home_page_videos.each_with_index do |video, index|
      - video_src = "#{vimeo_url}#{video[:id]}#{common_settings}"
      .item{ class: "#{'active' if index == 0}", data: { object: 'carousel-video', video_src: video_src } }
