- links = [['HOME', root_path], ['WORK', work_path], ['DRTV', drtv_path], ['CONTACT', contact_path], [(current_client ? 'CLIENT' : 'LOGIN'), (current_client ? client_project_root_path(current_client) : client_login_path)]]


.menu-links
  .triangle-right.hidden-xs
  .triangle-right-white.hidden-xs
  .transparent-box.hidden-xs
  .triangle-left.hidden-xs
  .box-left.hidden-xs
  = link_to 'HOME', root_path, class: "#{'active' if current_page?(root_path)}"
  |
  = link_to 'WORK', work_path, class: "#{'active' if params[:action] == 'work'}"
  |
  = link_to 'DRTV', drtv_path, class: "#{'active' if params[:action] == 'drtv'}"
  |
  = link_to 'CONTACT', contact_path, class: "#{'active' if params[:action] == 'contact'}"
  |
  - if current_user
    = link_to current_user.first_name.upcase, dashboard_path, class: "#{'active' if current_page?(dashboard_path)}"
  - elsif current_client
    = link_to 'CLIENT', client_project_root_path(current_client), class: "#{'active' if params[:controller] == 'client_project'}"
  - else
    = link_to 'LOGIN', client_login_path, class: "#{'active' if current_page?(new_user_session_path)}"
