<%= render partial: 'header' %>

<% drtv_text = "You have stuff to sell and we have the skills to sell it. Our DRTV geniuses create commercials that are scientifically proven to make people dial the phone or order online. But wait, there's more... Call 617-262-1400." %>

<div class="container">
  <div class="page-header" style="border:0px">
    <h1 style="position:relative;">
      DRTV
      <div class="visible-lg drtv-diagonal-line"></div>
      <div class="visible-lg drtv-diagonal-line-text">
        <%= drtv_text %>
      </div>
    </h1>
  </div>
  <div class="hidden-lg">
    <p>
      <%= drtv_text %>
    </p>
  </div>
</div>

<% folder = "videos/drtv" %>

<%# ["#{folder}/drtv-inheritance-thumb.png", "110153644"], %>

<% videos = [
  ["#{folder}/drtv-brother-thumb.png", "111740592"],
  ["#{folder}/drtv-1800flowers-thumb.png", "48365590"],
  ["#{folder}/drtv-dragon-thumb.png", "48810429"],
  ["#{folder}/drtv-hookits-thumb.png", "124955184"],
  ["#{folder}/drtv-popup-lantern-thumb.png", "124955187"],
  ["#{folder}/drtv-dreamers-thumb.png", "124955189"],
  ["#{folder}/drtv-goji-host-thumb.png", "111016727"],
  ["#{folder}/drtv-citizens-disability-thumb.png", "67747842"],
  ["#{folder}/drtv-flexshopper-test-thumb.png", "111673757"],
  ["#{folder}/drtv-mae-thumb.png", "125151198"],
  ["#{folder}/drtv-tiger-home-inspection-2-thumb.png", "124955183"],
  ["#{folder}/drtv-slendertone-thumb.png", "119589132"],
  ["#{folder}/drtv-mobile-help-thumb.png", "105769409"],
  ["#{folder}/drtv-education-connection-thumb.png", "79689795"],
  ["#{folder}/drtv-safe-step-thumb.png", "105769619"],
  ["#{folder}/drtv-flexshopper-host-thumb.png", "107081935"],
  ["#{folder}/drtv-hammerhead-thumb.png", "125151197"],
  ["#{folder}/drtv-goji-test-thumb.png", "111016628"],
  ["#{folder}/drtv-tboost-thumb.png", "69038520"],
  ["#{folder}/drtv-lawyers-dot-com-thumb.png", "59517089"],
  ["#{folder}/drtv-magic-tap-thumb.png", "48027830"],
  ["#{folder}/drtv-tx180-thumb.png", "105769620"],
  ["#{folder}/drtv-amp-booster-thumb.png", "79677873"],
  ["#{folder}/drtv-knife-saver-thumb.png", "48010358"],
  ["#{folder}/drtv-paw-power-thumb.png", "48026187"],
  ["#{folder}/drtv-lasaii-thumb.png", "61356596"],
  ["#{folder}/drtv-united-law-thumb.png", "106220311"]
  ] %>
<%= render partial: 'welcome/video_grid', locals: { videos: videos } %>

<div class="container" style="text-align:center;margin-top:40px">
  <p>
    But wait - there's more! More samples <%= link_to 'available upon request', 'contact.html' %>.
  </p>
</div>


<%= render partial: 'footer' %>
