<%= render partial: 'header' %>

<% drtv_text = "Conductor has a solid history of successful direct response campaigns. From products to lead generation, we provide the resources and marketing expertise to take ideas from script to screen." %>

<div class="container">
  <div class="page-header" style="border:0px">
    <h1 style="position:relative;">
      DRTV
      <div class="visible-lg drtv-diagonal-line"></div>
      <div class="visible-lg drtv-diagonal-line-text">
        <%= drtv_text %>
      </div>
    </h1>
  </div>
  <div class="hidden-lg">
    <p>
      <%= drtv_text %>
    </p>
  </div>
</div>

<% videos = [
  ["videos/drtv/drtv1-thumb.png", "//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/drtv/drtv2-thumb.png", "//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/drtv/drtv3-thumb.png", "//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/drtv/drtv4-thumb.png", "//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/drtv/drtv5-thumb.png", "//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/drtv/drtv6-thumb.png", "//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/drtv/drtv7-thumb.png", "//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/drtv/drtv8-thumb.png", "//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ["videos/drtv/drtv9-thumb.png", "//player.vimeo.com/video/98734405?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=ffffff"],
  ] %>
<%= render partial: 'welcome/video_grid', locals: { videos: videos } %>



<%= render partial: 'footer' %>
