<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Conductor Productions | Clients</title>
    <meta name="description" content="Video Production Company Located in Downtown Boston" />
    <meta name="viewport" content="width=device-width" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <%= stylesheet_link_tag 'screen', media: 'all', data: { turbolinks_track: 'reload' } %>
    <!-- endbuild -->
</head>

<body>

    <!-- Sticky Header -->
    <header class="header" id="stickyHeader">
        <section class="header-inner inner-wrapper">
            <a href="/" class="logo-container left" title="Conductor Productions">
                <%= image_tag 'pc/conductor-logo.svg', alt: 'Conductor Productions' %>
            </a>
            <div class="menu-icon menu-trigger">
                <small>menu</small>
                <span class="top"></span>
                <span class="mid"></span>
                <span class="bottom"></span>
            </div>
        </section>
    </header><!-- / End Sticky Header -->

    <nav class="nav-container">
        <div class="inner">
            <div class="nav-close" id="menuClose">&times;</div>
            <ul>
                <li><%= link_to 'Our Work', pc_our_work_path, title: 'Our Work' %></li>
                <li class="directors">
                    <span class="block directors-toggle" title="Directors">Directors</span>
                    <ul class="dropdown-nav">
                        <li class="dropdown-item">
                            <%= link_to 'Noah Lydiard', pc_director_noah_lydiard_path, title: 'Noah Lydiard' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Kamell Allaway', pc_director_kamell_allaway_path, title: 'Kamell Allaway' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Vladimir Minuty', pc_director_vladimir_minuty_path, title: 'Vladimir Minuty' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Christian Williams', pc_director_christian_williams_path, title: 'Christian Williams' %>
                        </li>
                    </ul>
                </li><!-- / end directors -->
                <li><%= link_to 'Clients', pc_clients_path, title: 'Clients' %></li>
                <li><%= link_to 'Contact', pc_contact_path, title: 'Contact' %></li>
                <li><%= link_to 'Client Portal', client_login_path, title: 'Client Portal' %></li>
            </ul>
        </div><!-- / end inner nav -->
    </nav><!-- / end navigation -->

    <main class="outer-wrapper bounds clients">
        <div class="title-header inner-page outer-wrapper">
            <div class="left">
                <h1>
                    <%= link_to 'Conductor', pc_index_path, title: 'Conductor Productions', class: 'first crumb' %>
                    <i class="page-name">Clients</i>
                </h1>
            </div>
            <!-- end left track -->
            <svg width="199px" height="178px" class="arrow-design right" viewBox="0 0 179 158">
                <g stroke="none" stroke-width="1" fill="none">
                    <g transform="translate(-1261.000000, -2.000000)" fill-opacity="1" fill="#000">
                        <g transform="translate(-38.000000, 2.000000)">
                            <path d="M1299,0 L2345.20949,0 L2422,79 L2345.20949,158 L1330.30314,158 L1299,0 Z" transform="translate(1860.500000, 79.000000) scale(-1, 1) translate(-1860.500000, -79.000000) "></path>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="menu-icon right menu-trigger">
                <small>menu</small>
                <span class="top"></span>
                <span class="mid"></span>
                <span class="bottom"></span>
            </div>
            <!-- / end menu icon -->
        </div>
        <!-- / end title-header -->
        <div class="intro">
            <h2>Testimonials</h2>
        </div>
        <!-- / end intro -->
        <section class="hero clients testimonials">
            <ul class="panel-table testimonials-inner clean">
                <li class="cell">
                    <blockquote>
                        “This was by far the easiest shoot I’ve attended, because Noah
                        and the team did a great job of forcing the hard decisions to be
                        made ahead of time, and of running a tight ship leading up to
                        and during the shoot. The Thumbtack team has great things to
                        say about Conductor, and I know feels really fortunate to have a
                        partner like Conductor.”
                        <strong>Dan, Thumbtack</strong>
                    </blockquote>
                </li><!-- / end testimonial -->
                <li class="cell">
                    <blockquote>
                        “The filmmakers at Conductor are creative, strategic, talented
                        and fun to collaborate with. They took the time to understand
                        our brand and our goals. The commercials and digital assets
                        they produced communicated Stride Rite’s standards and values,
                        and more importantly, helped us exceed our sales goals. I would
                        highly recommend Conductor!”
                        <strong>Liz, Stride Rite</strong>
                    </blockquote>
                </li><!-- / end testimonial -->
                <li class="cell">
                    <blockquote>
                        “Conductor has been a wonderful partner to work with on all
                        our video production needs. They are professional, organized,
                        communicative, talented and fun to work with! Everyone from
                        the producers, directors, animators, editors, stylists, and crew
                        are easy to work with and are excellent at adapting to change
                        and direction. They work well under tight deadlines and last
                        minute changes that still result in a great end product. Our
                        experience working the Conductor team has been nothing but
                        positive.”
                        <strong>Donna, Clarks Americas Inc.</strong>
                    </blockquote>
                </li><!-- / end testimonial -->
            </ul><!-- / end testimonials inner -->
        </section>
        <!-- / end full bleed hero -->
        <section class="middle clients">
            <div class="inner copy">
                <h2>
                    Collaborators
                </h2>
            </div><!-- / end clients intro middle -->
            <div class="background-gradient"></div><!-- / end background gradient -->
        </section>
        <!-- / end middle intro -->
        <section class="panel-table clients-grid">
            <ul class="container">
                <li class="client-logo">
                    <%= image_tag 'pc/logos/toyota-white.png', alt: 'Toyota' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/puma-white.png', alt: 'Puma' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/irobot-white.png', alt: 'iROBOT' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/tj-maxx-white.png', alt: 'TJ Maxx' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/lindt-white.png', alt: 'Lindt' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/brother-white.png', alt: 'Brother' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/nb-white.png', alt: 'New Balance' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/fidelity-white.png', alt: 'Fidelity' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/american-standard-white.png', alt: 'American Standard' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/clarks-white.png', alt: 'Clarks' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/cocoon-white.png', alt: 'Cocoon' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/dragon-white.png', alt: 'Dragon' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/general-mills-white.png', alt: 'General Mills' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/keurig-white.png', alt: 'Keurig' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/laithwaite-white.png', alt: 'Laithwaite' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/mobile-help-white.png', alt: 'Mobile Help' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/quell-white.png', alt: 'Quell' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/rebagg-white.png', alt: 'Rebagg' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/reebok-white.png', alt: 'Reebok' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/resorts-casino-logo.png', alt: 'Resorts Casino' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/stride-rite-white.png', alt: 'Stride Rite' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/summer-infant-white.png', alt: 'Summer Infant' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/sun-financial-white.png', alt: 'Sun Financial' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/thumbtack-white.png', alt: 'Thumbtack' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/tripping-white.png', alt: 'Tripping' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/gerber-white.png', alt: 'Gerber' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/hmr-white.png', alt: 'HMR Investments' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/putnam-white.png', alt: 'Putnam Investments' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/1-800-flowers-white.png', alt: '1800 Flowers' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/adore-white.png', alt: 'Adore' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/bjs-white.png', alt: 'BJs' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/corning-white.png', alt: 'Corning' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/eve-white.png', alt: 'Eve' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/flex-shopper-white.png', alt: 'Flex Shopper' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/marshalls-white.png', alt: 'Marshalls' %>
                </li>
                <li class="client-logo bulbhead">
                    <%= image_tag 'pc/logos/bulbhead-white.png', alt: 'Bulbhead' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/solid-works-white.png', alt: 'Solid Works' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/silpada-white.png', alt: 'Silpada' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/wayside-omaha-white.png', alt: 'Wayside Omaha Steaks' %>
                </li>
                <li class="client-logo">
                    <%= image_tag 'pc/logos/skreens-white.png', alt: 'Skreens' %>
                </li>
            </ul><!-- / end outer clients -->
        </section>
        <!-- / end clients grid -->
    </main>
    <!-- / end outer wrapper bound -->
    <footer class="outer-wrapper">
        <section class="footer-inner inner-wrapper">
            <div class="company-info">
                <h3 class="site-title">Conductor Productions</h3>
                <span>142 Berkeley St, Boston, MA<b>|</b>
                <a href="tel:6172621400" title="Call Now">(617) 262-1400 </a>
                </span>
                <span class="copyright">
                    © 2016 Conductor Productions
                </span>
            </div>
            <!-- / end left contact and company info -->
            <aside class="footer-nav">
                <ul class="social-media">
                    <li class="facebook">
                        <a href="https://www.facebook.com/ConductorCreative" target="_blank" title="Facebook">
                            <span class="icon icon-facebook"></span>
                        </a>
                    </li>
                    <li class="instagram">
                        <a href="#" target="_blank" title="Instagram">
                            <span class="icon icon-instagram"></span>
                        </a>
                    </li>
                    <li class="linked-in">
                        <a href="http://www.linkedin.com/pub/noah-lydiard/3/b5b/749" target="_blank" title="Linked In">
                            <span class="icon icon-linked-in"></span>
                        </a>
                    </li>
                </ul><!-- / end social media -->
                <ul class="menu">
                    <li>
                        <%= link_to 'Our Work', pc_our_work_path, title: 'Our Work' %>
                    </li>
                    <li>
                        <%= link_to 'Directors', pc_director_noah_lydiard_path, title: 'Directors' %>
                    </li>
                    <li>
                        <%= link_to 'Clients', pc_clients_path, title: 'Clients' %>
                    </li>
                    <li>
                        <%= link_to 'Contact', pc_contact_path, title: 'Contact' %>
                    </li>
                    <li>
                        <%= link_to 'Login', client_login_path, title: 'Login' %>
                    </li>
                </ul><!-- / end menu -->
            </aside>
            <!-- / end footer nav -->
        </section>
        <!-- / end footer inner -->
    </footer>
    <!-- / end footer -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function() {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!-- build:js scripts/main.js -->
    <%= javascript_include_tag 'dev' %>
    <!-- endbuild -->
</body>

</html>
