<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Conductor Productions | Contact</title>
    <meta name="description" content="Video Production Company Located in Downtown Boston" />
    <meta name="viewport" content="width=device-width" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <%= stylesheet_link_tag 'screen', media: 'all', data: { turbolinks_track: 'reload' } %>
    <!-- endbuild -->
</head>

<body>

    <!-- Sticky Header -->
    <header class="header" id="stickyHeader">
        <section class="header-inner inner-wrapper">
            <a href="/" class="logo-container left" title="Conductor Productions">
                <%= image_tag 'pc/conductor-logo.svg', alt: 'Conductor Productions' %>
            </a>
            <div class="menu-icon menu-trigger">
                <small>menu</small>
                <span class="top"></span>
                <span class="mid"></span>
                <span class="bottom"></span>
            </div>
        </section>
    </header><!-- / End Sticky Header -->

    <nav class="nav-container">
        <div class="inner">
            <div class="nav-close" id="menuClose">&times;</div>
            <ul>
                <li><%= link_to 'Our Work', pc_our_work_path, title: 'Our Work' %></li>
                <li class="directors">
                    <span class="block directors-toggle" title="Directors">Directors</span>
                    <ul class="dropdown-nav">
                        <li class="dropdown-item">
                            <%= link_to 'Noah Lydiard', pc_director_noah_lydiard_path, title: 'Noah Lydiard' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Kamell Allaway', pc_director_kamell_allaway_path, title: 'Kamell Allaway' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Vladimir Minuty', pc_director_vladimir_minuty_path, title: 'Vladimir Minuty' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Christian Williams', pc_director_christian_williams_path, title: 'Christian Williams' %>
                        </li>
                    </ul>
                </li><!-- / end directors -->
                <li><%= link_to 'Clients', pc_clients_path, title: 'Clients' %></li>
                <li><%= link_to 'Contact', pc_contact_path, title: 'Contact' %></li>
                <li><%= link_to 'Client Portal', client_login_path, title: 'Client Portal' %></li>
            </ul>
        </div><!-- / end inner nav -->
    </nav><!-- / end navigation -->

    <main class="outer-wrapper bounds contact">
        <div class="title-header inner-page outer-wrapper">
            <div class="left">
                <h1>
                    <%= link_to 'Conductor', pc_index_path, title: 'Conductor Productions', class: 'first crumb' %>
                    <i class="page-name">Contact</i>
                </h1>
            </div>
            <!-- end left track -->
            <svg width="199px" height="178px" class="arrow-design right" viewBox="0 0 179 158">
                <g stroke="none" stroke-width="1" fill="none">
                    <g transform="translate(-1261.000000, -2.000000)" fill-opacity="1" fill="#000">
                        <g transform="translate(-38.000000, 2.000000)">
                            <path d="M1299,0 L2345.20949,0 L2422,79 L2345.20949,158 L1330.30314,158 L1299,0 Z" transform="translate(1860.500000, 79.000000) scale(-1, 1) translate(-1860.500000, -79.000000) "></path>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="menu-icon right menu-trigger">
                <small>menu</small>
                <span class="top"></span>
                <span class="mid"></span>
                <span class="bottom"></span>
            </div>
            <!-- / end menu icon -->
        </div>
        <!-- / end title-header -->
        <section class="contact-form panes">
            <div class="form pane">
                <h4>Drop a line, say hi.</h4>
                <h5>We don’t bite.</h5>
                <form action="#" class="contact-form" id="contactForm">
                    <fieldset class="input name">
                        <input type="text" name="name" placeholder="Full Name" required />
                    </fieldset><!-- / end your name field -->
                    <fieldset class="input email">
                        <input type="text" name="email" placeholder="Email" required >
                    </fieldset><!-- / end your email field -->
                    <fieldset class="textarea message">
                        <textarea name="message" placeholder="Message" cols="30" rows="5"></textarea>
                    </fieldset><!-- / end your message -->
                    <fieldset class="submit">
                        <input type="submit" value="Send" class="button">
                    </fieldset><!-- / end submit -->
                </form><!-- / end form -->
            </div><!-- / end form -->
            <div class="form-image pane"></div><!-- / end right form image (image in CSS background) -->
        </section>
        <!-- / end contact form -->
    </main>
    <!-- / end outer wrapper bound -->
    <footer class="outer-wrapper">
        <section class="footer-inner inner-wrapper">
            <div class="company-info">
                <h3 class="site-title">Conductor Productions</h3>
                <span>142 Berkeley St, Boston, MA<b>|</b>
                <a href="tel:6172621400" title="Call Now">(617) 262-1400 </a>
                </span>
                <span class="copyright">
                    © 2016 Conductor Productions
                </span>
            </div>
            <!-- / end left contact and company info -->
            <aside class="footer-nav">
                <ul class="social-media">
                    <li class="facebook">
                        <a href="https://www.facebook.com/ConductorCreative" target="_blank" title="Facebook">
                            <span class="icon icon-facebook"></span>
                        </a>
                    </li>
                    <li class="instagram">
                        <a href="#" target="_blank" title="Instagram">
                            <span class="icon icon-instagram"></span>
                        </a>
                    </li>
                    <li class="linked-in">
                        <a href="http://www.linkedin.com/pub/noah-lydiard/3/b5b/749" target="_blank" title="Linked In">
                            <span class="icon icon-linked-in"></span>
                        </a>
                    </li>
                </ul><!-- / end social media -->
                <ul class="menu">
                    <li>
                        <%= link_to 'Our Work', pc_our_work_path, title: 'Our Work' %>
                    </li>
                    <li>
                        <%= link_to 'Directors', pc_director_noah_lydiard_path, title: 'Directors' %>
                    </li>
                    <li>
                        <%= link_to 'Clients', pc_clients_path, title: 'Clients' %>
                    </li>
                    <li>
                        <%= link_to 'Contact', pc_contact_path, title: 'Contact' %>
                    </li>
                    <li>
                        <%= link_to 'Login', client_login_path, title: 'Login' %>
                    </li>
                </ul><!-- / end menu -->
            </aside>
            <!-- / end footer nav -->
        </section>
        <!-- / end footer inner -->
    </footer>
    <!-- / end footer -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function() {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!-- build:js scripts/main.js -->
    <%= javascript_include_tag 'dev' %>
    <!-- endbuild -->
</body>

</html>
