<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Conductor Productions | Directors - Noah Lydiard</title>
    <meta name="description" content="Video Production Company Located in Downtown Boston" />
    <meta name="viewport" content="width=device-width" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <%= stylesheet_link_tag 'screen', media: 'all', data: { turbolinks_track: 'reload' } %>
    <!-- endbuild -->
</head>

<body>

    <!-- Sticky Header -->
    <header class="header" id="stickyHeader">
        <section class="header-inner inner-wrapper">
            <a href="/" class="logo-container left" title="Conductor Productions">
                <img src="images/conductor-logo.svg" alt="Conductor Productions">
            </a>
            <div class="menu-icon menu-trigger">
                <small>menu</small>
                <span class="top"></span>
                <span class="mid"></span>
                <span class="bottom"></span>
            </div>
        </section>
    </header><!-- / End Sticky Header -->

    <nav class="nav-container">
        <div class="inner">
            <div class="nav-close" id="menuClose">&times;</div>
            <ul>
                <li><%= link_to 'Our Work', pc_our_work_path, title: 'Our Work' %></li>
                <li class="directors">
                    <span class="block directors-toggle" title="Directors">Directors</span>
                    <ul class="dropdown-nav">
                        <li class="dropdown-item">
                            <%= link_to 'Noah Lydiard', pc_director_noah_lydiard_path, title: 'Noah Lydiard' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Kamell Allaway', pc_director_kamell_allaway_path, title: 'Kamell Allaway' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Vladimir Minuty', pc_director_vladimir_minuty_path, title: 'Vladimir Minuty' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Christian Williams', pc_director_christian_williams_path, title: 'Christian Williams' %>
                        </li>
                    </ul>
                </li><!-- / end directors -->
                <li><%= link_to 'Clients', pc_clients_path, title: 'Clients' %></li>
                <li><%= link_to 'Contact', pc_contact_path, title: 'Contact' %></li>
                <li><%= link_to 'Client Portal', client_login_path, title: 'Client Portal' %></li>
            </ul>
        </div><!-- / end inner nav -->
    </nav><!-- / end navigation -->

    <main class="outer-wrapper bounds directors">
        <div class="title-header pull inner-page outer-wrapper">
            <div class="left">
                <h1>
                    <%= link_to 'Conductor', pc_index_path, title: 'Conductor Productions', class: 'first crumb' %>
                    <i class="page-name crumb">Directors</i>
                    <span class="page-child">Noah Lydiard</span>
                </h1>
            </div>
            <!-- end left track -->
            <svg width="199px" height="178px" class="arrow-design right" viewBox="0 0 179 158">
                <g stroke="none" stroke-width="1" fill="none">
                    <g transform="translate(-1261.000000, -2.000000)" fill-opacity="1" fill="#000">
                        <g transform="translate(-38.000000, 2.000000)">
                            <path d="M1299,0 L2345.20949,0 L2422,79 L2345.20949,158 L1330.30314,158 L1299,0 Z" transform="translate(1860.500000, 79.000000) scale(-1, 1) translate(-1860.500000, -79.000000) "></path>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="menu-icon right menu-trigger">
                <small>menu</small>
                <span class="top"></span>
                <span class="mid"></span>
                <span class="bottom"></span>
            </div>
            <!-- / end menu icon -->
        </div>
        <!-- / end title-header -->
        <div class="intro">
            <h2><span class="profession">Director</span> Noah Lydiard</h2>
            <p>Executive Producer, Director, Owner</p>
        </div>
        <!-- / end intro -->
        <section class="video-player">
            <div class="video-inner">
                <div class="video-outer">
                    <div class="video-container">
                        <span class="play-btn" title="Play">
                            <span class="play"></span>
                        </span>
                        <video id="standalonePlayer" preload="true" class="video" src="https://player.vimeo.com/external/195377823.hd.mp4?s=43cc111c6b8bbfa274a937af239650b849806af1&profile_id=119" poster="/images/home-river.jpg">
                        </video>
                    </div><!-- / end video container -->
                </div><!-- / end video -->
            </div><!-- / end video inner -->
            <div class="video-controls disabled" id="videoControls">
                <!-- / end slide list -->
                <ul class="controls right">
                    <li>
                        <a href="#" id="restart" title="Restart" class="icon icon-restart"></a>
                    </li>
                    <li>
                        <a href="#" id="pause" title="Play/Pause" class="icon icon-pause"></a>
                    </li>
                    <li>
                        <a href="#" id="volume" title="Volume"  class="icon icon-mute-video"></a>
                    </li>
                </ul>
                <!-- / end video controls -->
            </div>
            <!-- / end hero controls -->
        </section>
        <!-- / end video player -->
        <section class="middle tighten creator-bio panel-table">
            <div class="inner cell extra-margin copy">
                <h2>
                   Humbly delighted by the fact that the very thing he would choose to do for fun <span class="lighter">is also the very thing that earns him a living.</span>
                </h2>
                <p>
                    Ever since he saw a behind the scenes look at the making of Raiders of the Lost Ark was enough to cement Noah's unwavering love of all things cinema… he has been a student ever since. Having been in the commercial and advertising business for more than 15 years, Noah’s bandwidth of knowledge and understanding of the industry reaches far beyond his Massachusetts roots. Noah has worked with national brands, various award-winning advertising agencies, as well as production companies. He has built a broadcast department, shot independent films, and edited television shows. Continuing to let his passion for movies fuel his career, his latest adventure includes directing 2nd unit action scenes, designing and directing the opening sequence as well as co-producing in the feature film, Office Uprising.
                </p>
                <p>
                    Noah’s openness, and friendliness are the basis of his success. His simple deep-rooted love for filmmaking and its related industries create a lasting trust between himself and his clients; making Conductor one of the most sought after companies for Brand Advertising and Brand Response.
                </p>
                <p>
                    Through and through, this self built, production junkie can be described in the simplest of terms: Family man. Executive Producer. Director. Movie Nerd. Believer.
                </p>
                <strong class="scroll-cta">
                    Scroll down, to see more of Noah's work.
                </strong><!-- / end scroll cta -->
            </div><!-- / end bio -->
            <div class="background-gradient"></div><!-- / end background gradient -->
        </section>
        <!-- / end middle see more work section -->
        <section class="work-outer work-grid outer-wrapper" id="workGrid">
            <ul class="grid-row">
                <li data-videoid="03" data-videourl="https://player.vimeo.com/external/185990535.hd.mp4?s=3cb398ceffa173313da9c9fbea97e0cd434952fb&profile_id=119" data-posterurl="/images/posters/shields.png" class="item commercial">
                    <a href="#" title="View Project">
                        <div class="caption">
                            <div class="inner">
                                <span class="icon icon-mag-glass"></span>
                                <span class="title">Shields MRI</span>
                                <span class="view button" data-role="button">View Project</span>
                            </div>
                            <!-- / end inner -->
                        </div>
                        <!-- / end caption -->
                        <div class="image-container">
                            <%= image_tag 'pc/posters/shields.png', alt: 'Shields MRI' %>
                        </div>
                        <!-- / end image container -->
                    </a>
                </li>
                <!-- / end item -->
                <li data-videoid="04" data-videourl="https://player.vimeo.com/external/200017943.hd.mp4?s=692f57c8032cb89a9a52d00a243c8bbe74eeaa26&profile_id=119" data-posterurl="/images/posters/putnam.png" class="item digital-content">
                    <a href="#" title="View Project">
                        <div class="caption">
                            <div class="inner">
                                <span class="icon icon-mag-glass"></span>
                                <span class="title">Putnam Investments</span>
                                <span class="description">This is a sweet caption about said kitten.</span>
                                <span class="view button" data-role="button">View Project</span>
                            </div>
                            <!-- / end inner -->
                        </div>
                        <!-- / end caption -->
                        <div class="image-container">
                            <%= image_tag 'pc/posters/putnam.png', alt: 'Putnam Investments' %>
                        </div>
                        <!-- / end image container -->
                    </a>
                </li>
                <!-- / end item -->
                <li data-videoid="05" data-videourl="https://player.vimeo.com/external/124955438.hd.mp4?s=a2467bbea9b3f59360e89a344e400803e5790d3d&profile_id=119" data-posterurl="/images/posters/netflix.png" class="item digital-content">
                    <a href="#" title="View Project">
                        <div class="caption">
                            <div class="inner">
                                <span class="icon icon-mag-glass"></span>
                                <span class="title">NetFlix</span>
                                <span class="view button" data-role="button">View Project</span>
                            </div>
                            <!-- / end inner -->
                        </div>
                        <!-- / end caption -->
                        <div class="image-container">
                            <%= image_tag 'pc/posters/netflix.png', alt: 'Netflix' %>
                        </div>
                        <!-- / end image container -->
                    </a>
                </li>
                <!-- / end item -->
                <li data-videoid="06" data-videourl="https://player.vimeo.com/external/185988791.hd.mp4?s=7f9729032fc6d75446e61750fe396b576404c16c&profile_id=119" data-posterurl="/images/posters/sunlife.png" class="item digital-content">
                    <a href="#" title="View Project">
                        <div class="caption">
                            <div class="inner">
                                <span class="icon icon-mag-glass"></span>
                                <span class="title">SunLife Financial</span>
                                <span class="view button" data-role="button">View Project</span>
                            </div>
                            <!-- / end inner -->
                        </div>
                        <!-- / end caption -->
                        <div class="image-container">
                            <%= image_tag 'pc/posters/sunlife.png', alt: 'SunLife Financial' %>
                        </div>
                        <!-- / end image container -->
                    </a>
                </li>
                <!-- / end item -->
            </ul>
            <!-- / end table -->
        </section>
        <!-- / end work outer -->
        <section class="director-work work-grid no-margin instagrid">
            <!-- / end work type -->
            <ul class="stills clean panel-table">
                <li class="still cell"><%= image_tag 'pc/directors/noah/camcorder.png', alt: 'Camcorder' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/noah/on-set.png', alt: 'On Set' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/noah/pick-axe.png', alt: 'Placeholder' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/noah/bird.png', alt: 'Chicken' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/noah/pipe.png', alt: 'Pipe' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/noah/bw-onset.png', alt: 'On Set' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/noah/a-24.png', alt: 'Video Camera' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/noah/friends.png', alt: 'Friends' %></li>
            </ul>
            <!-- / end stills -->
        </section>
        <!-- / end work outer production stills -->
        <section class="container social-outer gradient">
            <h3>Follow Noah on social media</h3>
            <ul class="social-media">
                <li class="twitter">
                    <a href="#" title="Facebook">
                        <span class="icon icon-facebook"></span>
                    </a>
                </li>
                <li class="twitter">
                    <a href="#" title="Twitter">
                        <span class="icon icon-twitter"></span>
                    </a>
                </li>
                <li class="linked-in">
                    <a href="#" title="Instagram">
                        <span class="icon icon-instagram"></span>
                    </a>
                </li><!-- / end linked in -->
            </ul><!-- / end social icon list -->
        </section>
        <!-- / end container social -->
    </main>
    <!-- / end outer wrapper bound -->
    <footer class="outer-wrapper">
        <section class="footer-inner inner-wrapper">
            <div class="company-info">
                <h3 class="site-title">Conductor Productions</h3>
                <span>142 Berkeley St, Boston, MA<b>|</b>
                <a href="tel:6172621400" title="Call Now">(617) 262-1400 </a>
                </span>
                <span class="copyright">
                    © 2016 Conductor Productions
                </span>
            </div>
            <!-- / end left contact and company info -->
            <aside class="footer-nav">
                <ul class="social-media">
                    <li class="facebook">
                        <a href="https://www.facebook.com/ConductorCreative" target="_blank" title="Facebook">
                            <span class="icon icon-facebook"></span>
                        </a>
                    </li>
                    <li class="instagram">
                        <a href="#" target="_blank" title="Instagram">
                            <span class="icon icon-instagram"></span>
                        </a>
                    </li>
                    <li class="linked-in">
                        <a href="http://www.linkedin.com/pub/noah-lydiard/3/b5b/749" target="_blank" title="Linked In">
                            <span class="icon icon-linked-in"></span>
                        </a>
                    </li>
                </ul><!-- / end social media -->
                <ul class="menu">
                    <li>
                        <%= link_to 'Our Work', pc_our_work_path, title: 'Our Work' %>
                    </li>
                    <li>
                        <%= link_to 'Directors', pc_director_noah_lydiard_path, title: 'Directors' %>
                    </li>
                    <li>
                        <%= link_to 'Clients', pc_clients_path, title: 'Clients' %>
                    </li>
                    <li>
                        <%= link_to 'Contact', pc_contact_path, title: 'Contact' %>
                    </li>
                    <li>
                        <%= link_to 'Login', client_login_path, title: 'Login' %>
                    </li>
                </ul><!-- / end menu -->
            </aside>
            <!-- / end footer nav -->
        </section>
        <!-- / end footer inner -->
    </footer>    <!-- / end footer -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function() {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!-- build:js scripts/main.js -->
    <%= javascript_include_tag 'dev' %>
    <!-- endbuild -->
</body>

</html>
