<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Conductor Productions | Directors - Kamell Allaway</title>
    <meta name="description" content="Video Production Company Located in Downtown Boston" />
    <meta name="viewport" content="width=device-width" />
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.tmp) styles/main.css -->
    <%= stylesheet_link_tag 'screen', media: 'all', data: { turbolinks_track: 'reload' } %>
    <!-- endbuild -->
</head>

<body>

    <!-- Sticky Header -->
    <header class="header" id="stickyHeader">
        <section class="header-inner inner-wrapper">
            <a href="/" class="logo-container left" title="Conductor Productions">
                <%= image_tag 'pc/conductor-logo.svg', alt: 'Conductor Productions' %>
            </a>
            <div class="menu-icon menu-trigger">
                <small>menu</small>
                <span class="top"></span>
                <span class="mid"></span>
                <span class="bottom"></span>
            </div>
        </section>
    </header><!-- / End Sticky Header -->

    <nav class="nav-container">
        <div class="inner">
            <div class="nav-close" id="menuClose">&times;</div>
            <ul>
                <li><%= link_to 'Our Work', pc_our_work_path, title: 'Our Work' %></li>
                <li class="directors">
                    <span class="block directors-toggle" title="Directors">Directors</span>
                    <ul class="dropdown-nav">
                        <li class="dropdown-item">
                            <%= link_to 'Noah Lydiard', pc_director_noah_lydiard_path, title: 'Noah Lydiard' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Kamell Allaway', pc_director_kamell_allaway_path, title: 'Kamell Allaway' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Vladimir Minuty', pc_director_vladimir_minuty_path, title: 'Vladimir Minuty' %>
                        </li>
                        <li class="dropdown-item">
                            <%= link_to 'Christian Williams', pc_director_christian_williams_path, title: 'Christian Williams' %>
                        </li>
                    </ul>
                </li><!-- / end directors -->
                <li><%= link_to 'Clients', pc_clients_path, title: 'Clients' %></li>
                <li><%= link_to 'Contact', pc_contact_path, title: 'Contact' %></li>
                <li><%= link_to 'Client Portal', client_login_path, title: 'Client Portal' %></li>
            </ul>
        </div><!-- / end inner nav -->
    </nav><!-- / end navigation -->

    <main class="outer-wrapper bounds directors">
        <div class="title-header pull inner-page outer-wrapper">
            <div class="left">
                <h1>
                    <%= link_to 'Conductor', pc_index_path, title: 'Conductor Productions', class: 'first crumb' %>
                    <i class="page-name crumb">Directors</i>
                    <span class="page-child">Kamell Allaway</span>
                </h1>
            </div>
            <!-- end left track -->
            <svg width="199px" height="178px" class="arrow-design right" viewBox="0 0 179 158">
                <g stroke="none" stroke-width="1" fill="none">
                    <g transform="translate(-1261.000000, -2.000000)" fill-opacity="1" fill="#000">
                        <g transform="translate(-38.000000, 2.000000)">
                            <path d="M1299,0 L2345.20949,0 L2422,79 L2345.20949,158 L1330.30314,158 L1299,0 Z" transform="translate(1860.500000, 79.000000) scale(-1, 1) translate(-1860.500000, -79.000000) "></path>
                        </g>
                    </g>
                </g>
            </svg>
            <div class="menu-icon right menu-trigger">
                <small>menu</small>
                <span class="top"></span>
                <span class="mid"></span>
                <span class="bottom"></span>
            </div>
            <!-- / end menu icon -->
        </div>
        <!-- / end title-header -->
        <div class="intro">
            <h2><span class="profession">Director</span> Kamell Allaway</h2>
        </div>
        <!-- / end intro -->
        <section class="video-player">
            <div class="video-inner">
                <div class="video-outer">
                    <div class="video-container">
                        <span class="play-btn" title="Play">
                            <span class="play"></span>
                        </span>
                        <video id="standalonePlayer" preload="true" class="video" src="https://player.vimeo.com/external/201349116.hd.mp4?s=35d08c3bb8ed6da244d9d92b2ad346d01ebb02fa&profile_id=119" poster="<%= asset_path 'pc/directors/kamell/posters/kamell-feature.png' %>">
                        </video>
                    </div><!-- / end video container -->
                </div><!-- / end video -->
            </div><!-- / end video inner -->
            <div class="video-controls disabled" id="videoControls">
                <!-- / end slide list -->
                <ul class="controls right">
                    <li>
                        <a href="#" id="restart" title="Restart" class="icon icon-restart"></a>
                    </li>
                    <li>
                        <a href="#" id="pause" title="Play/Pause" class="icon icon-pause"></a>
                    </li>
                    <li>
                        <a href="#" id="volume" title="Volume"  class="icon icon-mute-video"></a>
                    </li>
                </ul>
                <!-- / end video controls -->
            </div>
            <!-- / end hero controls -->
        </section>
        <!-- / end video player -->
        <section class="middle tighten creator-bio panel-table">
            <div class="inner cell extra-margin copy">
                <h2>
                    <span class="lighter">Kamell Allaway is a Los Angeles based director.</span> His filmography includes, features, shorts, commercials, and music videos.
                </h2>
                <p>
                    Kamell spent his early years traveling the country and studying film, creative writing, and psychology at Yale University, CSU Northridge, and the USC School of Cinematic Arts, which is where he received his MFA in 2013.  His shorts have premiered around the world, including the 2011 and 2013 Cannes Film Festival.  His feature film Sea Horse premiered at the 2015 Cinequest Film Festival and went on to play several other festivals before its' VOD release on Amazon and iTunes.  His music videos have been featured by MTV, VH1, Vevo, Alternative Press, and many more.  Most recently Kamell has worked with comedians Josh Robert Thompson from The Late Late Show and Melissa Villasenor from Saturday Night Live, directing several promos and sketches.
                </p>
                <p>
                    Kamell was named a director to watch by the SHOOT New Directors Showcase in 2015.  When he's not directing, he's eating chocolate cake.  Lots and lots of chocolate cake.
                </p>
                <strong class="scroll-cta">
                    Scroll down, to see more of Kamell's work.
                </strong><!-- / end scroll cta -->
            </div><!-- / end bio -->
            <div class="background-gradient"></div><!-- / end background gradient -->
        </section>
        <!-- / end middle see more work section -->
        <section class="work-outer work-grid outer-wrapper" id="workGrid">
            <ul class="grid-row">
                <li data-videoid="03" data-videourl="https://player.vimeo.com/external/201183151.hd.mp4?s=b0ef7a5651c7b1f2fd308970ed6dd8f3e93388da&profile_id=174" data-posterurl="<%= asset_path 'pc/directors/kamell/posters/oyster-kids.png' %>" class="item commercial">
                    <a href="#" title="View Project">
                        <div class="caption">
                            <div class="inner">
                                <span class="icon icon-mag-glass"></span>
                                <span class="title">Oyster Kids</span>
                                <span class="view button" data-role="button">View Project</span>
                            </div>
                            <!-- / end inner -->
                        </div>
                        <!-- / end caption -->
                        <div class="image-container">
                            <%= image_tag 'pc/directors/kamell/posters/oyster-kids.png', alt: 'Oyster Kids' %>
                        </div>
                        <!-- / end image container -->
                    </a>
                </li>
                <!-- / end item -->
                <li data-videoid="04" data-videourl="https://player.vimeo.com/external/201183082.hd.mp4?s=f2103b74281ab57ef8f27a917a35fcb8454fe87e&profile_id=119" data-posterurl="<%= asset_path 'pc/directors/kamell/posters/daily-itineraries.png' %>" class="item digital-content">
                    <a href="#" title="View Project">
                        <div class="caption">
                            <div class="inner">
                                <span class="icon icon-mag-glass"></span>
                                <span class="title">Daily Itineraries</span>
                                <span class="description">with Jennifer Lopez</span>
                                <span class="view button" data-role="button">View Project</span>
                            </div>
                            <!-- / end inner -->
                        </div>
                        <!-- / end caption -->
                        <div class="image-container">
                            <%= image_tag 'pc/directors/kamell/posters/daily-itineraries.png', alt: 'Daily Itineraries' %>
                        </div>
                        <!-- / end image container -->
                    </a>
                </li>
                <!-- / end item -->
                <li data-videoid="05" data-videourl="https://player.vimeo.com/external/201720859.sd.mp4?s=2c719f6a6676d3910f6c2b931e40b1e7c680bad5&profile_id=165" data-posterurl="<%= asset_path 'pc/directors/kamell/posters/j-dock-seafood.png' %>" class="item digital-content">
                    <a href="#" title="View Project">
                        <div class="caption">
                            <div class="inner">
                                <span class="icon icon-mag-glass"></span>
                                <span class="title">J-Dock Seafood</span>
                                <span class="view button" data-role="button">View Project</span>
                            </div>
                            <!-- / end inner -->
                        </div>
                        <!-- / end caption -->
                        <div class="image-container">
                            <%= image_tag 'pc/directors/kamell/posters/j-dock-seafood.png', alt: 'J-Dock Seafood' %>
                        </div>
                        <!-- / end image container -->
                    </a>
                </li>
                <!-- / end item -->
                <li data-videoid="06" data-videourl="https://player.vimeo.com/external/201720889.sd.mp4?s=266f18e05afaed1039d60f7624f10fed2639a913&profile_id=165" data-posterurl="<%= asset_path 'pc/directors/kamell/posters/pygmy-hippo.png' %>" class="item digital-content">
                    <a href="#" title="View Project">
                        <div class="caption">
                            <div class="inner">
                                <span class="icon icon-mag-glass"></span>
                                <span class="title">Pygmy Hippo Shoppe</span>
                                <span class="view button" data-role="button">View Project</span>
                            </div>
                            <!-- / end inner -->
                        </div>
                        <!-- / end caption -->
                        <div class="image-container">
                            <%= image_tag 'pc/directors/kamell/posters/pygmy-hippo.png', alt: 'Pygmy Hippo Shoppe' %>
                        </div>
                        <!-- / end image container -->
                    </a>
                </li>
                <!-- / end item -->
            </ul>
            <!-- / end table -->
        </section>
        <!-- / end work outer -->
        <section class="director-work work-grid no-margin instagrid">
            <!-- / end work type -->
            <ul class="stills clean panel-table">
                <li class="still cell"><%= image_tag 'pc/directors/kamell/kamell-director-pic-1.jpg', alt: 'foggy' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/kamell/kamell-director-pic-7.jpg', alt: 'camera lenses' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/kamell/kamell-director-pic-6.jpg', alt: 'man standing in a sunny room' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/kamell/kamell-director-pic-2.jpg', alt: 'portrait of a man' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/kamell/kamell-director-pic-3.jpg', alt: 'on set' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/kamell/kamell-director-pic-4.jpg', alt: 'man and cloud sky' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/kamell/kamell-director-pic-5.jpg', alt: 'airplane window' %></li>
                <li class="still cell"><%= image_tag 'pc/directors/kamell/kamell-director-pic-8.jpg', alt: 'man in garden' %></li>
            </ul>
            <!-- / end stills -->
        </section>
        <!-- / end work outer production stills -->
        <section class="container social-outer gradient">
            <h3>Follow Kamell on social media</h3>
            <ul class="social-media">
                <li class="facebook">
                    <a href="https://www.facebook.com/kamell.allaway" target="_blank" title="Facebook">
                        <span class="icon icon-facebook"></span>
                    </a>
                </li>
                <li class="instagram">
                    <a href="https://www.instagram.com/kamellowtail/" target="_blank" title="Instagram">
                        <span class="icon icon-instagram"></span>
                    </a>
                </li><!-- / end linked in -->
            </ul><!-- / end social icon list -->
        </section>
        <!-- / end container social -->
    </main>
    <!-- / end outer wrapper bound -->
    <footer class="outer-wrapper">
        <section class="footer-inner inner-wrapper">
            <div class="company-info">
                <h3 class="site-title">Conductor Productions</h3>
                <span>142 Berkeley St, Boston, MA<b>|</b>
                <a href="tel:6172621400" title="Call Now">(617) 262-1400 </a>
                </span>
                <span class="copyright">
                    © 2016 Conductor Productions
                </span>
            </div>
            <!-- / end left contact and company info -->
            <aside class="footer-nav">
                <ul class="social-media">
                    <li class="facebook">
                        <a href="https://www.facebook.com/ConductorCreative" target="_blank" title="Facebook">
                            <span class="icon icon-facebook"></span>
                        </a>
                    </li>
                    <li class="instagram">
                        <a href="#" target="_blank" title="Instagram">
                            <span class="icon icon-instagram"></span>
                        </a>
                    </li>
                    <li class="linked-in">
                        <a href="http://www.linkedin.com/pub/noah-lydiard/3/b5b/749" target="_blank" title="Linked In">
                            <span class="icon icon-linked-in"></span>
                        </a>
                    </li>
                </ul><!-- / end social media -->
                <ul class="menu">
                    <li>
                        <%= link_to 'Our Work', pc_our_work_path, title: 'Our Work' %>
                    </li>
                    <li>
                        <%= link_to 'Directors', pc_director_noah_lydiard_path, title: 'Directors' %>
                    </li>
                    <li>
                        <%= link_to 'Clients', pc_clients_path, title: 'Clients' %>
                    </li>
                    <li>
                        <%= link_to 'Contact', pc_contact_path, title: 'Contact' %>
                    </li>
                    <li>
                        <%= link_to 'Login', client_login_path, title: 'Login' %>
                    </li>
                </ul><!-- / end menu -->
            </aside>
            <!-- / end footer nav -->
        </section>
        <!-- / end footer inner -->
    </footer>    <!-- / end footer -->
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
    (function(b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function() {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>
    <!-- build:js scripts/main.js -->
    <%= javascript_include_tag 'dev' %>
    <!-- endbuild -->
</body>

</html>
