%table.table.table-fixed
  %thead
    %tr
      %th Name
      %th Role
      %th Invited By
      %th Actions
  %tr
    %td= link_to_if current_user.system_admin?, @project.user.name, @project.user
    %td Project Owner
    %td
    %td
  - @project.project_users.order(editor: :desc, id: :asc).each do |project_user|
    - member = project_user
    %tr{ class: "#{"success" if @member == member}" }
      - if member.user
        %td= link_to_if current_user.system_admin?, member.user.name, member.user
      - else
        %td
          %span.text-muted= member.invite_email

      %td
        Project
        = member.editor? ? "Editor" : "Viewer"

      %td.text-muted
        - if member.creator
          = link_to_if current_user.system_admin?, member.creator.name, member.creator

      %td
        = link_to "Remove", member, method: :delete, remote: true, class: "btn btn-sm btn-danger", data: { confirm: "Remove #{member.user ? member.user.name : member.invite_email}?" } if @project.editable_by?(current_user) || (current_user.all_viewable_projects.include?(@project) && current_user == member.user)
        = link_to "Resend Invitation", resend_project_user_path(member), method: :post, class: "btn btn-primary btn-sm", data: { loading_text: "Resent" } if @project.editable_by?(current_user) && !member.user
    - if !member.user && current_user == member.creator
      %tr
        %td{ colspan: "4" }
          = text_field_tag "member_invite", "#{ENV["website_url"]}/invite/#{member.invite_token}", class: "form-control"
