= form_for(@project) do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:

      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name, 'Project Name'
    %br
    = f.text_field :name
  .field
    = f.label :number, 'Project Number'
    %br
    = f.text_field :number
  .field
    = f.label :slug, 'URL Slug'
    %br
    = f.text_field :slug
  .field
    = f.label :client_name, 'Client Name'
    %br
    = f.text_field :client_name
  .field
    = f.label :username, 'Client Username'
    %br
    = f.text_field :username
  .field
    = f.label :password, 'Client Password'
    %br
    = f.text_field :password, value: @project.password_plain
  - if false
    .field
      = f.label :logo
      %br
      = f.text_field :logo
  .actions
    = f.submit
