= form_for @project, html: { class: 'form-horizontal', multipart: true } do |f|
  - if @project.errors.any?
    #error_explanation
      %h2
        = pluralize(@project.errors.count, "error")
        prohibited this project from being saved:

      %ul
        - @project.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name, 'Project Name', class: 'col-md-2 control-label '
    .col-md-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :number, 'Project Number', class: 'col-md-2 control-label '
    .col-md-10
      = f.text_field :number, class: 'form-control'
  .form-group
    = f.label :slug, 'URL Slug', class: 'col-md-2 control-label '
    .col-md-10
      = f.text_field :slug, class: 'form-control'
  .form-group
    = f.label :client_name, 'Client Name', class: 'col-md-2 control-label '
    .col-md-10
      = f.text_field :client_name, class: 'form-control'
  .form-group
    = f.label :username, 'Client Username', class: 'col-md-2 control-label '
    .col-md-10
      = f.text_field :username, class: 'form-control'
  .form-group
    = f.label :password, 'Client Password', class: 'col-md-2 control-label '
    .col-md-10
      = f.text_field :password, value: @project.password_plain, class: 'form-control'
  .form-group
    = f.label :agency_logo, class: 'col-md-2 control-label '
    .col-md-10
      = f.file_field :agency_logo, class: 'form-control'
      = f.hidden_field :agency_logo_cache
  .form-group
    = f.label :client_logo, class: 'col-md-2 control-label '
    .col-md-10
      = f.file_field :client_logo, class: 'form-control'
      = f.hidden_field :client_logo_cache
  .actions
    = f.submit
