= render 'layouts/per_page', per_page: 20, object_count: @projects.total_count

%table.table.table-striped.table-borderless.table-hover
  %col.hidden-xs
  %col
  %col.hidden-xs
  %col.hidden-xs
  %col
  %col{ width: '1px' }
  %col{ width: '1px' }
  %thead
    %tr
      %th.hidden-xs Number
      %th Title
      %th Quick Preview
      %th.hidden-xs Client Username
      %th.hidden-xs Client Password
      %th.center{ colspan: 2 } Actions

  %tbody
    - @projects.each do |project|
      %tr
        %td.hidden-xs= project.number
        %td= project.name
        %td
          = link_to client_project_root_path(project), target: '_blank' do
            %span.hidden-xs
              = "#{ENV['website_url']}/#{project.slug}"
            %span.hidden-sm.hidden-md.hidden-lg
              Preview
        %td.hidden-xs= project.username
        %td.hidden-xs
          %span{ style: 'cursor:pointer', data: { object: 'click-to-view', content: project.password_plain } }
            = '*' * project.password_plain.to_s.size if project.password_plain.present?
        %td
          = link_to project, class: 'btn btn-light btn-sm' do
            %i.fa.fa-pencil
        %td
          .dropdown
            = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
              .d-inline-block.d-sm-none
                %i.fa.fa-cog
              .d-none.d-sm-inline-block Actions
              %strong.caret

            .dropdown-menu.dropdown-menu-right
              = link_to client_project_root_path(project), class: "dropdown-item" do
                %span.glyphicon.glyphicon-eye-open
                Preview
              = link_to project, class: "dropdown-item" do
                %i.fa.fa-pencil
                Edit

              - if project.editable_by?(current_user)
                = link_to project_path(project, project: { archived: project.archived? ? '0' : '1' }), method: :patch, class: "dropdown-item" do
                  %span.glyphicon.glyphicon-briefcase
                  - if project.archived?
                    Restore
                  - else
                    Archive
              - if project.deletable_by?(current_user)
                .dropdown-divider
                = link_to project, method: :delete, data: { confirm: "Delete #{project.name}?" }, class: "dropdown-item" do
                  .text-danger
                    %i.fa.fa-trash
                    Delete


.center= paginate @projects, theme: 'bootstrap'
