%h1 Projects

- if current_user.system_admin?
  = link_to 'New Project', new_project_path, class: 'btn btn-xs btn-default'

%table.table.table-striped
  %thead
    %tr
      %th Number
      %th Title
      %th Client Username
      %th Client Password
      %th Quick Preview

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.number
        %td= link_to project.name, project
        %td= project.username
        %td
          %span{ style: 'cursor:pointer', data: { object: 'click-to-view', content: project.password_plain } }
            = '*' * project.password_plain.to_s.size if project.password_plain.present?
        %td= link_to "#{ENV['website_url']}/#{project.slug}", client_project_root_path(project), target: '_blank'
