
%h1
  =@project.name
  = link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-xs btn-default'
  = link_to 'View Categories', project_categories_path(@project), class: 'btn btn-xs btn-default'

%dl.dl-horizontal
  %dt
    %strong Project Name
  %dd
    = @project.name

  %dt
    %strong Project Number
  %dd
    = @project.number

  %dt
    %strong URL Slug
  %dd
    = @project.slug

  %dt
    %strong Logo
  %dd
    = @project.logo

  %dt
    %strong Client Username
  %dd
    = @project.username

  %dt
    %strong Client Password
  %dd
    %span{ style: 'cursor:pointer', data: { object: 'click-to-view', content: @project.password_plain } }
      = '*' * @project.password_plain.to_s.size if @project.password_plain.present?

  %dt
    %strong Owner
  %dd
    = @project.user.name if @project.user

= link_to 'Edit', edit_project_path(@project)
|
= link_to 'Back', projects_path
