%h1
  = link_to 'Projects', projects_path
  - if @project.archived?
    |
    = link_to 'Archived', archived_projects_path
  |
  = @project.name
  = link_to 'Preview', client_project_root_path(@project), class: 'btn btn-lg btn-primary'

- if false
  = link_to 'View Categories', project_categories_path(@project), class: 'btn btn-sm btn-default'
  = link_to 'View Documents', project_documents_path(@project), class: 'btn btn-sm btn-default'
  = link_to 'View Embeds', project_embeds_path(@project), class: 'btn btn-sm btn-default'

.row
  .col-xs-6.col-sm-8
    - Project::TOP_LEVELS.each do |top_level|
      %div{ style: 'margin-bottom: 20px;' }
        - categories = @project.categories.where(top_level: top_level)
        %h2{ style: categories.present? ? nil : 'text-muted' }= top_level
        %ul.categories-list{ data: { object: 'categories-sortable', project: @project.to_param, top_level: top_level } }
          - categories.each do |category|
            %li.category-box{ data: { category_id: category.id } }
              = link_to category.name, [@project, category], style: !category.show_menu? ? 'color: #777;' : nil
              .category-box-inner
                %small
                - document_count = category.documents.count
                - gallery_count = category.galleries.where(archived: false).count
                - embed_count = category.embeds.where(archived: false).count
                - if document_count > 0
                  - if gallery_count + embed_count > 0
                    = succeed ',' do
                      = pluralize document_count, 'Document'
                  - else
                    = pluralize document_count, 'Document'
                - if gallery_count > 0
                  - if embed_count > 0
                    = succeed ',' do
                      = pluralize gallery_count, 'Gallery'
                  - else
                    = pluralize gallery_count, 'Gallery'
                - if embed_count > 0
                  = pluralize embed_count, 'Video'
        %div{ style: 'margin-left: 20px;margin-top: -10px;' }
          = link_to new_project_category_path(@project, top_level: top_level), class: 'btn btn-sm btn-default' do
            %span.glyphicon.glyphicon-plus
            Add Category
  .col-xs-6.col-sm-4
    .pull-right
      %h2
        Settings
        - if @project.editable_by?(current_user)
          = link_to edit_project_path(@project), class: 'btn btn-sm btn-default' do
            %span.glyphicon.glyphicon-cog
            Edit
      %div{ style: 'background-color: #ededed;display: inline-block;padding: 10px;' }
        %table.table.table-borderless.table-striped{ style: 'margin-bottom: 0;' }
          %tr
            %th Project Name
            %td= @project.name

          %tr
            %th Project Number
            %td= @project.number

          %tr
            %th URL Slug
            %td= @project.slug

          %tr
            %th Client Username
            %td= @project.username

          %tr
            %th Client Password
            %td
              %span{ style: 'cursor:pointer', data: { object: 'click-to-view', content: @project.password_plain } }
                = '*' * @project.password_plain.to_s.size if @project.password_plain.present?
          %tr
            %th Owner
            %td= @project.user.nickname if @project.user

          - if @project.agency_logo.size > 0
            %tr
              %th Agency Logo
              %td= @project.agency_logo_identifier

            %tr
              %th Agency Logo Size
              %td= number_to_human_size @project.agency_logo.size

          - if @project.client_logo.size > 0
            %tr
              %th Client Logo
              %td= @project.client_logo_identifier

            %tr
              %th Client Logo Size
              %td= number_to_human_size @project.client_logo.size
          %tr
            %th Team
            %td
              %ul.list-unstyled
                - @project.users.order(:first_name, :last_name).each do |user|
                  %li= user.nickname
          - if @project.editable_by?(current_user)
            %tr
              %td{ colspan: 2 }= link_to 'Add Team Member', collaborators_project_path(@project), class: 'btn btn-sm btn-default btn-block'

- if @project.agency_logo.size > 0
  .center{ style: 'width:100%' }
    = image_tag agency_logo_project_path(@project), class: 'img-responsive', style: 'display:inline-block'

- if @project.client_logo.size > 0
  .center{ style: 'width:100%' }
    = image_tag client_logo_project_path(@project), class: 'img-responsive', style: 'display:inline-block'
