%p
  %strong Title
  = @project.name

%p
  %strong URL Slug
  = @project.slug

%p
  %strong Logo
  = @project.logo

%p
  %strong Client Username
  = @project.username

%p
  %strong Client Password
  %span{ style: 'cursor:pointer', data: { object: 'click-to-view', content: @project.password_plain } }
    = '*' * @project.password_plain.to_s.size if @project.password_plain.present?

%p
  %strong Owner
  = @project.user.name if @project.user

= link_to 'Edit', edit_project_path(@project)
|
= link_to 'Back', projects_path
