
%h1
  = link_to 'Projects', projects_path
  &middot;
  = @project.name

= link_to 'Edit Project', edit_project_path(@project), class: 'btn btn-xs btn-default'
= link_to 'View Categories', project_categories_path(@project), class: 'btn btn-xs btn-default'
= link_to 'View Documents', project_documents_path(@project), class: 'btn btn-xs btn-default'
= link_to 'View Embeds', project_embeds_path(@project), class: 'btn btn-xs btn-default'

%dl.dl-horizontal
  %dt
    %strong Project Name
  %dd
    = @project.name

  %dt
    %strong Project Number
  %dd
    = @project.number

  %dt
    %strong URL Slug
  %dd
    = @project.slug

  %dt
    %strong Client Username
  %dd
    = @project.username

  %dt
    %strong Client Password
  %dd
    %span{ style: 'cursor:pointer', data: { object: 'click-to-view', content: @project.password_plain } }
      = '*' * @project.password_plain.to_s.size if @project.password_plain.present?

  %dt
    %strong Owner
  %dd
    = @project.user.name if @project.user

  - if @project.agency_logo.size > 0
    %dt
      %strong Agency Logo
    %dd
      = @project.agency_logo_identifier

    %dt
      %strong Agency Logo Size
    %dd= number_to_human_size @project.agency_logo.size

  - if @project.client_logo.size > 0
    %dt
      %strong Client Logo
    %dd
      = @project.client_logo_identifier

    %dt
      %strong Client Logo Size
    %dd= number_to_human_size @project.client_logo.size


- if @project.agency_logo.size > 0
  .center{ style: 'width:100%' }
    = image_tag agency_logo_project_path(@project), class: 'img-responsive', style: 'display:inline-block'

- if @project.client_logo.size > 0
  .center{ style: 'width:100%' }
    = image_tag client_logo_project_path(@project), class: 'img-responsive', style: 'display:inline-block'
