%div{ style: 'height: 96px;padding-left:20px;padding-top: 20px;padding-right:20px' }
  - if @project.client_logo.size > 0
    = link_to client_project_root_path(@project), style: 'text-decoration:none;' do
      = image_tag client_project_client_logo_path(@project), class: 'img-responsive side-menu-logo'

.side-menu
  - Project::TOP_LEVELS.each do |top_level|
    - non_empty_categories = @project.visible_top_level_categories(top_level)
    - next if non_empty_categories.blank?
    - url = '#'
    - object = 'suppress-click'
    - non_empty_categories.each do |category|
      - url = client_project_category_path(@project, top_level: top_level.downcase, category_id: category)
      - object = nil
      - break
    = link_to url, data: { object: object }, class: 'side-menu-header' do
      .side-menu-header-triangle
      = top_level
    .side-menu-sub-menu
      - @project.categories.where(top_level: top_level).each do |category|
        - if category.show_menu?
          = link_to client_project_category_path(@project, top_level: top_level.downcase, category_id: category), class: "side-menu-sub-header #{'active' if @category == category}" do
            .side-menu-triangle-left-sub
            .side-menu-triangle-left-sub-white
            = category.name
          - if @category == category || (@gallery && @gallery.category == category)
            - unarchived_galleries = category.galleries.where(archived: false).select{ |g| g.gallery_photos.count > 0 }
            - if unarchived_galleries.count > 1
              - unarchived_galleries.each do |gallery|
                = link_to client_project_gallery_path(@project, category.top_level.downcase, category, gallery), class: "side-menu-sub-sub-header #{'active' if @gallery == gallery}" do
                  .side-menu-triangle-left-sub-sub
                  = gallery.name
