%div{ style: 'height: 96px;padding-left:20px;padding-top: 20px;padding-right:20px' }
  - if @project.client_logo.size > 0
    = link_to client_project_root_path(@project), style: 'text-decoration:none;' do
      = image_tag client_project_client_logo_path(@project), class: 'img-responsive side-menu-logo'

.side-menu
  - Project::TOP_LEVELS.each do |top_level|
    - url = '#'
    - object = 'suppress-click'
    - @project.categories.where(top_level: top_level).each do |category|
      - if category.show_menu?
        - url = client_project_category_path(@project, top_level: top_level.downcase, category_id: category)
        - object = nil
        - break
    = link_to url, data: { object: object }, class: 'side-menu-header' do
      .side-menu-header-triangle
      = top_level
    .side-menu-sub-menu
      - @project.categories.where(top_level: top_level).each do |category|
        - if category.show_menu?
          = link_to client_project_category_path(@project, top_level: top_level.downcase, category_id: category), class: "side-menu-sub-header #{'active' if @category == category}" do
            .side-menu-triangle-left-sub
            .side-menu-triangle-left-sub-white
            = category.name
