%h2
  = link_to @project.name, client_project_root_path(@project), class: 'project-link'

  %br
  %small{ style: 'color:white' }
    = @category.name
  - if @document
    .pull-right
      - if @document.primary_document.size > 0
        = link_to client_project_download_primary_document_path(@project, @document), class: 'btn btn-xs btn-default' do
          %span.glyphicon.glyphicon-download
          %span.hidden-xs= @document.name
      - if @document.document.size > 0
        = link_to client_project_download_document_path(@project, @document), class: 'btn btn-xs btn-default' do
          %span.glyphicon.glyphicon-download
          %span.hidden-xs= @document.name_secondary

- if @galleries
  = render 'client_project/galleries_index'
- if @document
  - if @document.pdf?
    .embed-responsive{ style: 'padding-bottom: 106.25%;' }
      %object.white-background{ data: client_project_download_primary_document_path(@project, @document, inline: '1'), type: 'application/pdf' }
        alt :
        = link_to @document.name, client_project_download_primary_document_path(@project, @document), class: 'btn btn-xs btn-default'
  - elsif @document.image?
    .center
      = image_tag client_project_download_primary_document_path(@project, @document, inline: '1'), class: 'white-background img-thumbnail'
  - else
    = link_to client_project_download_document_path(@project, @document), class: 'btn btn-default' do
      %span.glyphicon.glyphicon-download
      Download
      = @document.name
- if @embed
  .embed-responsive.embed-responsive-16by9
    %iframe{ src: @embed.embed_url }
