%h2
  .float-right
    = succeed " " do
      - if @previous_photo = @gallery_photo.previous_photo
        = link_to client_project_gallery_photo_path(@project, @gallery_photo.gallery.category.top_level.downcase, @gallery_photo.gallery.category, @gallery_photo.gallery, @previous_photo), class: "btn btn-sm btn-outline-light" do
          %i.fa.fa-caret-left
          %span.d-none.d-lg-inline Previous
      - else
        %span.btn.btn-sm.btn-outline-light.disabled
          %i.fa.fa-caret-left
          %span.d-none.d-lg-inline Previous

    - if @next_photo = @gallery_photo.next_photo
      = link_to client_project_gallery_photo_path(@project, @gallery_photo.gallery.category.top_level.downcase, @gallery_photo.gallery.category, @gallery_photo.gallery, @next_photo), class: "btn btn-sm btn-outline-light" do
        %span.d-none.d-lg-inline Next
        %i.fa.fa-caret-right
    - else
      %span.btn.btn-sm.btn-outline-light.disabled
        %span.d-none.d-lg-inline Next
        %i.fa.fa-caret-right
  - if false
    = link_to @project.name, client_project_root_path(@project), class: "project-link"
    %br

  %small
    = link_to @gallery_photo.gallery.category.name, client_project_category_path(@project, top_level: @gallery_photo.gallery.category.top_level.downcase, category_id: @gallery_photo.gallery.category)
    |
    = link_to @gallery_photo.gallery.name, client_project_gallery_path(@project, @gallery_photo.gallery.category.top_level.downcase, @gallery_photo.gallery.category, @gallery_photo.gallery)
    |
    Photo
    = @gallery_photo.number
    of
    = @gallery_photo.gallery.gallery_photos.count

.text-center{ style: "margin-top:20px;margin-bottom:20px" }
  = image_tag client_project_download_gallery_photo_path(@project, @gallery_photo), style: "max-width: 100%; height: auto;"
