.pull-right.agency-logo-container
  - if @project.agency_logo.size > 0
    = image_tag client_project_agency_logo_path(@project), class: 'img-responsive agency-logo'

%h1{ style: 'margin-top: 20px;margin-bottom:20px' }
  = @project.name

.project-menu-plain
  - Project::TOP_LEVELS.each do |top_level|
    .project-menu-main-header{ data: { object: 'toggle-target', target: "##{top_level.downcase}-menu" } }
      .menu-triangle-left
      = top_level
    .project-menu-sub{ id: "#{top_level.downcase}-menu" }
      - @project.categories.where(top_level: top_level).each do |category|
        - if category.show_menu?
          .project-menu-sub-header
            .menu-triangle-left-sub
            .menu-triangle-left-sub-white
            = link_to category.name, client_project_category_path(@project, top_level: top_level.downcase, category_id: category)

- if @project.client_logo.size > 0
  .center
    = image_tag client_project_client_logo_path(@project), style: 'max-height: 150px;margin-top:20px; max-width:100%;padding-left:40px;padding-right:20px'
