%h1.brand.mb-3
  .float-right
    - if @project.agency_logo.size > 0
      = image_tag client_project_agency_logo_path(@project), style: "max-width: 100%;", class: "agency-logo"
  = @project.name

.project-menu-plain.brand
  - Project::TOP_LEVELS.each do |top_level|
    - non_empty_categories = @project.visible_top_level_categories(top_level)
    - next if non_empty_categories.blank?
    .project-menu-main-header{ data: { object: 'toggle-target', target: "##{top_level.downcase}-menu" } }
      .menu-triangle-left
      = top_level
    .project-menu-sub{ id: "#{top_level.downcase}-menu" }
      - non_empty_categories.each do |category|
        .project-menu-sub-header
          .menu-triangle-left-sub
          .menu-triangle-left-sub-white
          = link_to category.name, client_project_category_path(@project, top_level: top_level.downcase, category_id: category)

- if @project.client_logo.size > 0
  .text-center
    = image_tag client_project_client_logo_path(@project), style: 'max-height: 150px;margin-top:20px; max-width:100%;padding-left:40px;padding-right:20px'
