- @title = "Year In Review: 2017"

- vimeo_url = "//player.vimeo.com/video/"
- common_settings = "?api=1&title=0&byline=0&portrait=0&color=ffffff&autoplay=1"

.yir-banner
  .container
    = image_tag "newsletter/2017/microsite-header-2017.png", alt: "2017 A YEAR IN REVIEW"

.container
  .yir-callout
    Another year down and more great work to share with friends old and new! We
    began with a “Super” victory for Shields MRI and our Tom Brady spot, and in
    2017, we welcomed companies like Tempur Sealy, Gerber, Grammarly, Fidelity
    Investments, WB Mason, Health IQ, Shark Ninja, and Tripping.com to the
    Conductor family. We ran the gamut from comedy, to sports, fashion, horror,
    and more. Thanks to all of you who worked with us and here’s to a rockin’
    new year!

  #video-frame{ style: "width:100%;display:none;" }
    .embed-responsive.embed-responsive-16by9{ style: "z-index:100" }
      %iframe.embed-responsive-item{ src: "", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }

  .yir-highlights
    .yir-highlight{ data: { object: "video-frame-container", position: 0 } }
      .yir-video-frame-container
        .embed-responsive.embed-responsive-16by9{ style: "z-index:100" }
          %iframe.embed-responsive-item{ src: "", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }

      .yir-video-left
        - vimeo_number = "215517573"
        - video_link = "#{vimeo_url}#{vimeo_number}#{common_settings}"
        - data = { object: "launch-newsletter-video", video_src: video_link, position: 0 }
        .yir-video-title{ data: data } New England Baptist Hospital
        .yir-content
          Our studio production for Proper Villains featuring NBA star Avery
          Bradley is a 2017 company favorite. We love the blend of musicality,
          artistry, and athleticism that is depicted in this campaign, under the
          talented direction of Jeff Monahan and Patrick Ruth.
        .yir-watch-here
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE &raquo;
      .yir-video-right
        - image_thumbnail = "newsletter/2017/microsite-nebh.png"
        .yir-image.yir-image-angle.yir-image-angle-odd{ style: "background-image: url(\"#{asset_path(image_thumbnail)}\");", data: data }
        .yir-image.yir-image-full
          - image_thumbnail = "newsletter/2017/microsite-nebh.png"
          = image_tag image_thumbnail, class: "video-thumbnail", data: data, alt: "", style: "max-width:100%"
        .yir-watch-here-full
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE

    .yir-highlight{ data: { object: "video-frame-container", position: 1 } }
      .yir-video-frame-container
        .embed-responsive.embed-responsive-16by9{ style: "z-index:100" }
          %iframe.embed-responsive-item{ src: "", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
      .yir-video-left
        - vimeo_number = "237944222"
        - video_link = "#{vimeo_url}#{vimeo_number}#{common_settings}"
        - data = { object: "launch-newsletter-video", video_src: video_link, position: 1 }
        .yir-video-title{ data: data } Grammarly
        .yir-content
          Conductor’s testimonial-driven DR spots are known for driving sales
          and looking great. Shot on location in LA, these ads we wrote,
          produced, directed, and edited for Grammarly are no exception. Our
          client reported 45 million online views before going to air!
        .yir-watch-here.yir-watch-here-indent
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE &raquo;
      .yir-video-right
        - image_thumbnail = "newsletter/2017/microsite-grammarly.png"
        .yir-image.yir-image-angle.yir-image-angle-even{ style: "background-image: url(\"#{asset_path(image_thumbnail)}\");", data: data }
        .yir-image.yir-image-full
          - image_thumbnail = "newsletter/2017/microsite-grammarly-full.png"
          = image_tag image_thumbnail, class: "video-thumbnail", data: data, alt: "", style: "max-width:100%"
        .yir-watch-here-full
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE

    .yir-highlight{ data: { object: "video-frame-container", position: 2 } }
      .yir-video-frame-container
        .embed-responsive.embed-responsive-16by9{ style: "z-index:100" }
          %iframe.embed-responsive-item{ src: "", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
      .yir-video-left
        - vimeo_number = "242617473"
        - video_link = "#{vimeo_url}#{vimeo_number}#{common_settings}"
        - data = { object: "launch-newsletter-video", video_src: video_link, position: 2 }
        .yir-video-title{ data: data } WB Mason
        .yir-content
          Another highlight was our video campaign for WB Mason, spearheaded by
          producer-extraordinaire, Jenn Sargent. We shot sixteen comedic spots
          in total, one of which was set in Santa’s Workshop at the North Pole.
          Christmas came quite early for us this year!
        .yir-watch-here
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE &raquo;
      .yir-video-right
        - image_thumbnail = "newsletter/2017/microsite-wb-mason.png"
        .yir-image.yir-image-angle.yir-image-angle-odd{ style: "background-image: url(\"#{asset_path(image_thumbnail)}\");", data: data }
        .yir-image.yir-image-full
          - image_thumbnail = "newsletter/2017/microsite-wb-mason-full.png"
          = image_tag image_thumbnail, class: "video-thumbnail", data: data, alt: "", style: "max-width:100%"
        .yir-watch-here-full
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE

    .yir-highlight{ data: { object: "video-frame-container", position: 3 } }
      .yir-video-frame-container
        .embed-responsive.embed-responsive-16by9{ style: "z-index:100" }
          %iframe.embed-responsive-item{ src: "", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
      .yir-video-left
        - vimeo_number = "243740100"
        - video_link = "#{vimeo_url}#{vimeo_number}#{common_settings}"
        - data = { object: "launch-newsletter-video", video_src: video_link, position: 3 }
        .yir-video-title{ data: data } Hunt A Killer
        .yir-content
          We had a lot of fun going from concept to delivery in a terrifying
          genre for our newest broadcast client, Hunt A Killer. It’s been a wild
          ride exploring the psychological thriller space through visual effects
          and sound design. Do you have what it takes?
        .yir-watch-here.yir-watch-here-indent
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE &raquo;
      .yir-video-right
        - image_thumbnail = "newsletter/2017/microsite-huntakiller.png"
        .yir-image.yir-image-angle.yir-image-angle-even{ style: "background-image: url(\"#{asset_path(image_thumbnail)}\");", data: data }
        .yir-image.yir-image-full
          - image_thumbnail = "newsletter/2017/microsite-huntakiller.png"
          = image_tag image_thumbnail, class: "video-thumbnail", data: data, alt: "", style: "max-width:100%"
        .yir-watch-here-full
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE

    .yir-highlight{ data: { object: "video-frame-container", position: 4 } }
      .yir-video-frame-container
        .embed-responsive.embed-responsive-16by9{ style: "z-index:100" }
          %iframe.embed-responsive-item{ src: "", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
      .yir-video-left
        - vimeo_number = "237943632"
        - video_link = "#{vimeo_url}#{vimeo_number}#{common_settings}"
        - data = { object: "launch-newsletter-video", video_src: video_link, position: 4 }
        .yir-video-title{ data: data } Adore Me
        .yir-content
          Talk about a “model” client... This year we’ve successfully helped our
          friends at AdoreMe.com launch new TV campaigns for holidays, special
          occasions, and more. Year-to-date: five unique creatives delivered and
          great reports coming in... including a Telly!
        .yir-watch-here
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE &raquo;
      .yir-video-right
        - image_thumbnail = "newsletter/2017/microsite-adore-me.png"
        .yir-image.yir-image-angle.yir-image-angle-odd{ style: "background-image: url(\"#{asset_path(image_thumbnail)}\");", data: data }
        .yir-image.yir-image-full
          - image_thumbnail = "newsletter/2017/microsite-adore-me.png"
          = image_tag image_thumbnail, class: "video-thumbnail", data: data, alt: "", style: "max-width:100%"
        .yir-watch-here-full
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE

    .yir-highlight{ data: { object: "video-frame-container", position: 5 } }
      .yir-video-frame-container
        .embed-responsive.embed-responsive-16by9{ style: "z-index:100" }
          %iframe.embed-responsive-item{ src: "", webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true }
      .yir-video-left
        - vimeo_number = "237955433"
        - video_link = "#{vimeo_url}#{vimeo_number}#{common_settings}"
        - data = { object: "launch-newsletter-video", video_src: video_link, position: 5 }
        .yir-video-title{ data: data } SkipTheDishes
        .yir-content
          Canadian food delivery service SkipTheDishes hired Conductor to write
          and direct these tounge-and-cheek spots designed for broadcast and
          built to go viral. They hit on all cylinders with a successful TV run
          and several million views on Facebook and YouTube.
        .yir-watch-here.yir-watch-here-indent
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE &raquo;
      .yir-video-right
        - image_thumbnail = "newsletter/2017/microsite-skip-the-dishes.png"
        .yir-image.yir-image-angle.yir-image-angle-even{ style: "background-image: url(\"#{asset_path(image_thumbnail)}\");", data: data }
        .yir-image.yir-image-full
          = image_tag image_thumbnail, class: "video-thumbnail", data: data, alt: "", style: "max-width:100%"
        .yir-watch-here-full
          = link_to "#", data: data, class: "white-link" do
            WATCH HERE

  .yir-columns
    .yir-column.yir-column-left
      .yir-column-title
        STAFF SPOTLIGHT
      .yir-column-content
        .yir-title MICHAEL KALIL
        = image_tag "newsletter/2017/michael-kalil.png", style: "width: 200px;margin-left: 20px;", class: "pull-right"
        Meet Michael Kalil. If you don’t know him already, you definitely
        should! Michael brings a great perspective and energy to the Conductor
        team in his role of Executive Producer and Head of Business Development.
        He comes from an entertainment and live event background with 25 years
        of experience in client services on both coasts, including top talent
        agencies and film studios. Give him a shout to get your next project off
        the ground!

    .yir-column.yir-column-center
    .yir-column.yir-column-right
      .yir-column-title.yir-column-title-right
        TELLY TIME
      .yir-column-content
        We are excited to report that our recent work has been recognized with
        three 2017 Telly Awards for our commercials for Eloquii, Adore Me, and
        Thumbtack. The Telly Awards is a highly respected international
        competition and received over 12,000 entries from all 50 states and 5
        continents. Check out our award-winning spots
        = succeed "!" do
          = link_to "here", "https://ql.mediasilo.com/#ql/5a21ab3ae4b0b6517d38be9f"

        .center{ style: "margin-top: 30px;" }
          = link_to "https://ql.mediasilo.com/#ql/5a21ab3ae4b0b6517d38be9f" do
            = image_tag "newsletter/2017/telly-awards.jpg", style: "max-width: 70%;margin: 0 auto;"

.yir-footer
  .yir-footer-address
    .container
      CONDUCTOR PRODUCTIONS | 142 Berkeley St Fl 2 Boston, MA 02116
  .yir-footer-contact
    .container
      Contact us at
      = mail_to "info@conductorproductions.com", "info@conductorproductions.com"
      or 617.262.1400
