.container{ style: 'padding-top:20px' }
  .hidden-xs
    .pull-right
      .menu-links{ style: 'background-color: black;color: white !important'}
        = link_to 'HOME', root_path, style: 'color: white'
        |
        = link_to 'WORK', work_path, style: 'color: white'
        |
        = link_to 'DRTV', drtv_path, style: 'color: white'
        |
        = link_to 'CONTACT', contact_path, style: 'color: white'
        |
        = link_to 'LOGIN', client_login_path, class: 'active', style: 'color: white'

  -# This is to match the height of product-links
  .hidden-xs
    %div{ style: 'font-size: 0.9em;height: 18px' }
      &nbsp;

.container
  .visible-xs
    .menu-links{ style: 'margin-top: 47px;' }
      = link_to 'HOME', root_path
      |
      = link_to 'WORK', work_path
      |
      = link_to 'DRTV', drtv_path
      |
      = link_to 'CONTACT', contact_path
      |
      = link_to 'LOGIN', client_login_path, class: 'active'
