%td= gallery.category.name if gallery.category
%td= link_to gallery.name, [@project, gallery]
%td.hidden-xs= gallery.address
%td.hidden-xs= link_to_if current_user.system_admin?, gallery.user.name, gallery.user if gallery.user
%td.text-center= simple_check gallery.archived
- if @project.editable_by?(current_user)
  %td.text-center

    .dropdown
      = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
        .d-inline-block.d-sm-none
          %i.fa.fa-cog
        .d-none.d-sm-inline-block Actions
        %strong.caret

      .dropdown-menu.dropdown-menu-right
        = link_to edit_project_gallery_path(@project, gallery), class: "dropdown-item" do
          %span.glyphicon.glyphicon-edit
          Edit
        = link_to project_gallery_path(@project, gallery, gallery: { archived: gallery.archived? ? "0" : "1" }), method: :patch, remote: true, class: "dropdown-item" do
          %span.glyphicon.glyphicon-briefcase
          - if gallery.archived?
            Restore
          - else
            Archive
        .dropdown-divider
        = link_to [@project, gallery], method: :delete, data: { confirm: "Delete gallery?" }, class: "dropdown-item" do
          .text-danger
            %span.glyphicon.glyphicon-trash
            Delete
