%h1
  = link_to @project.name, @project
  |
  Galleries

- if @project.editable_by?(current_user)
  = link_to 'New Gallery', new_project_gallery_path(@project), class: 'btn btn-sm btn-dark'

%table.table.table-striped
  %col
  %col
  %col.hidden-xs
  %col.hidden-xs
  %col
  - if @project.editable_by?(current_user)
    %col{ width: '1px' }
  %thead
    %tr
      %th Category
      %th Name
      %th.hidden-xs Address
      %th.hidden-xs Creator
      %th.center Archived
      - if @project.editable_by?(current_user)
        %th Actions

  %tbody
    - if @galleries.count == 0
      %tr
        %td{ colspan: @project.editable_by?(current_user) ? 6 : 5 }
          .center.text-muted
            No galleries currently exist for this project. You may
            = link_to 'add a new gallery', new_project_gallery_path(@project)
            for this project.
    - else
      - @galleries.each do |gallery|
        %tr{ id: "gallery-#{gallery.id}-container" }
          = render 'galleries/gallery_row', gallery: gallery
