= form_for [@project, @category], html: { class: 'form-horizontal' } do |f|
  - if @category.errors.any?
    .panel.panel-danger
      .panel-heading
        %strong
          = pluralize(@category.errors.count, "error")
          prohibited this category from being saved:
      .panel-body
        %ul
          - @category.errors.full_messages.each do |message|
            %li= message
  .form-group
    = f.label :top_level, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.select :top_level, [['--Select a Top Level--', nil]] + Project::DEFAULT_CATEGORIES.collect{|hash| [hash[:top_level],hash[:top_level]]}, {}, class: 'form-control'
  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control', data: { object: (@category.new_record? ? 'create-slug' : ''), target: '#category_slug' }
  .form-group
    = f.label :slug, 'URL Slug', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :slug, class: 'form-control'
      .text-info
        Please only use lowercase letters, numbers, and dashes.
  .form-group
    = f.label :position, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :position, class: 'form-control'
  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
