%h1
  = link_to @project.name, @project
  |
  Locations

- if @project.editable_by?(current_user)
  = link_to 'New Location', new_project_location_path(@project), class: 'btn btn-xs btn-default'

%table.table.table-striped
  %thead
    %tr
      %th Category
      %th Name
      %th Address
      %th Creator
      %th Archived
      %th{ colspan: "2" }

  %tbody
    - if @locations.count == 0
      %tr
        %td{ colspan: "6" }
          .center.text-muted
            No locations currently exist for this project. You may
            = link_to 'add a new location', new_project_location_path(@project)
            for this project.
    - else
      - @locations.each do |location|
        %tr
          %td= location.category.name if location.category
          %td= link_to location.name, [@project, location]
          %td= location.address
          %td= link_to_if current_user.system_admin?, location.user.name, location.user if location.user
          %td= location.archived
          - if @project.editable_by?(current_user)
            %td= link_to 'Edit', edit_project_location_path(@project, location)
            %td= link_to 'Destroy', [@project, location], method: :delete, data: { confirm: "Are you sure you want to delete Location #{location.name}?" }
