%h1
  = link_to @project.name, @project
  |
  = link_to 'Locations', project_locations_path(@project)

%h2
  = @location.name

- if @project.editable_by?(current_user)
  = link_to 'Edit Location', edit_project_location_path(@project, @location), class: 'btn btn-xs btn-default'
  = link_to 'Delete Location', [@project, @location], method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Are you sure you want to delete Location #{@location.name}?" }

%dl.dl-horizontal
  %dt
    %strong Category
  %dd= link_to @location.category.name, [@project, @location.category] if @location.category

  %dt
    %strong Creator
  %dd= @location.user.name if @location.user

  %dt
    %strong Name
  %dd
    = @location.name

  %dt
    %strong Address
  %dd
    = simple_format @location.address

  %dt
    %strong Archived
  %dd= @location.archived

%h2
  Upload New Photos
  = surround '(', ')' do
    %span#photo-count= @location.location_photos.count
  %small Drag images into box below to upload.


#filedrag{ data: { object: 'dropfile', project: @project.to_param, location: @location.to_param } }

#location-photos
  = render 'location_photos/photos', location: @location
