.footer-container
  .container
    .footer
      .nowrap
        .float-right.brand
          &copy;
          = link_to "CONDUCTOR", services_path
          = Time.zone.today.year

        = link_to "https://www.facebook.com/ConductorCreative", class: "link-unstyled" do
          %i.fa.fa-facebook
        &nbsp;
        = link_to "https://twitter.com/conductorprod", class: "link-unstyled" do
          %i.fa.fa-twitter
        &nbsp;
        = link_to "http://www.linkedin.com/pub/noah-lydiard/3/b5b/749", class: "link-unstyled" do
          %i.fa.fa-linkedin

