%meta{ charset: "utf-8" }
%meta{ content: "IE=Edge,chrome=1", http: { equiv: "X-UA-Compatible" } }
%meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
%meta{ itemprop: "name", content: "Conductor Productions" }
%meta{ itemprop: "description", content: "Boston based video production company" }
%meta{ name: "description", content: "Boston based video production company" }
-# Don't cache any pages
%meta{ name: "turbolinks-cache-control", content: "no-cache" }
%title= [@title, ENV["website_name"]].compact.join(" - ").html_safe
= favicon_link_tag
= csrf_meta_tags
= stylesheet_link_tag "application", media: "all", data: { turbolinks_track: "reload" }
= javascript_include_tag "application", data: { turbolinks_track: "reload" }
= javascript_tag "var root_url='#{request.script_name}/';"
