.page-box.last-box.brand
  .container
    .mx-auto{ style: "max-width: 400px;" }
      %h1.small-caps= @title
      = form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |form|
        .form-group
          = form.label :email, "Username", class: "form-control-label"
          = form.text_field :email, autofocus: true, class: "form-control"

        .form-group
          = form.label :password, nil, class: "form-control-label"
          = form.password_field :password, autocomplete: "off", class: "form-control"

        .form-group.mt-4
          = form.submit "Submit", class: "btn btn-dark small-caps"
