!!!
%html
  %head
    %meta{ charset: 'utf-8'}
    %meta{ content: 'IE=Edge,chrome=1', http: {equiv: 'X-UA-Compatible'}}
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{ name: "description", content: "Conductor Productions" }
    %meta{ name: "author", content: "" }

    %title Conductor Productions

    = favicon_link_tag
    = csrf_meta_tags

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{ src: "//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" }
      %script{ src: "//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" }

    - if false
      %script{ src: "//f.vimeocdn.com/js/froogaloop2.min.js" }

    = stylesheet_link_tag "#{@invert ? 'application-invert' : 'application'}", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true

  %body.large-footer
    = render 'client_session/header'

    = render 'layouts/flash_messages'
    .container
      = yield

    = render 'layouts/login_footer'
