!!!
%html{ lang: "en" }
  %head
    = render "layouts/head"
  %body#top.full-page{ class: yield(:body_class) }
    #shade
    = render "layouts/flash_bar"
    #top-menu= render "layouts/menu"
    = yield :header
    .page-box-padding
      .container= yield
    = yield :footer
    = render "layouts/footer"
