= form_with(model: member, local: true, class: "form-horizontal") do |form|
  .form-group
    = form.label :name, nil, class: "col-md-2 control-label"
    .col-md-10
      = form.text_field :name, class: "form-control", data: { object: (member.new_record? ? "create-slug" : ""), target: "#member_slug" }
      = render "layouts/errors", object: member, key: :name

  .form-group
    = form.label :slug, nil, class: "col-md-2 control-label"
    .col-md-10
      = form.text_field :slug, class: "form-control", id: :member_slug
      = render "layouts/errors", object: member, key: :slug

  .form-group
    = form.label :photo, nil, class: "col-md-2 control-label"
    .col-md-10
      = form.file_field :photo, class: "form-control"
      = form.hidden_field :photo_cache
      = render "layouts/errors", object: member, key: :photo

  .form-group
    = form.label :biography, nil, class: "col-md-2 control-label"
    .col-md-10
      = form.text_area :biography, class: "form-control", rows: 7
      = render "layouts/errors", object: member, key: :biography

  .form-group
    = form.label :archived, nil, class: "col-md-2 control-label"
    .col-md-10
      .checkbox
        %label
          = form.check_box :archived

  .form-group
    .col-md-10.col-md-offset-2
      = form.submit nil, class: "btn btn-primary"
      = link_to "Cancel", member.new_record? ? members_path : member, class: "btn btn-default"
