- @title = "Members"

%h1= @title

= link_to "New Member", new_member_path, class: "btn btn-xs btn-default"
= render "layouts/per_page", per_page: 20, object_count: @members.total_count

- if @members.present?
  %table.table.table-striped.table-borderless.table-hover
    %col{ width: "1px" }
    %col
    %col{ width: "1px" }
    %col{ width: "1px" }
    %thead
      %tr
        %th
        %th Name
        %th Archived
        %th.center Actions

    %tbody
      - @members.each do |member|
        %tr
          %td= member.position
          %td= link_to member.name, member
          %td= member.archived
          %td.center
            .dropdown
              = link_to "#", class: "btn btn-default btn-xs dropdown-toggle", data: { toggle: "dropdown" } do
                Actions
                %strong.caret

              %ul.dropdown-menu.dropdown-menu-right
                %li
                  = link_to public_member_path(member) do
                    %span.glyphicon.glyphicon-eye-open
                    Preview
                %li
                  = link_to edit_member_path(member) do
                    %span.glyphicon.glyphicon-edit
                    Edit Member
                  %li.divider{ role: "separator" }
                  %li
                    = link_to member, method: :delete, data: { confirm: "Delete member?" } do
                      .text-danger
                        %span.glyphicon.glyphicon-trash
                        Delete
- else
  .jumbotron
    %h2 No members.
    %p
      = link_to "Add a new member", new_member_path
      now!
